/* Hoja de estilos principal*/

@font-face {
  font-family: ZonaProBOLD;
  src: url(../fonts/ZonaPro-Bold.otf);
}
@font-face {
  font-family: ZonaPro;
  src: url(../fonts/ZonaPro-ExtraLight.otf);
}


body {
  margin: 0;
}

.front { 
	background-image: url(../img/cielo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: ZonaProBOLD;
  position: relative;
}

.front img{
	position: relative;
	width: 100%;
  margin-bottom: -1%;
}

.front h1 { 
	position: fixed;
  right: 26%;
  font-size: 6vw;
  line-height: .8;
  text-align: center;
  color: #502F5D;
}

.front h1 span{
  font-family: ZonaPro;
  display: block;
  font-size: 3vw;
}

main { 
  position: relative;
  padding-top: 10%;
  background: #fff;
  font-size: 1.4rem;
  line-height: 1.6;
}