/* Hoja de estilos principal*/

/*fonts*/
@font-face {
  font-family: ZonaProBOLD;
  src: url(../fonts/ZonaPro-Bold.otf);
}
@font-face {
  font-family: ZonaPro;
  src: url(../fonts/ZonaPro-ExtraLight.otf);
}

/*header*/

/*background*/
.topmenu {
  background-color: #31003F;
  overflow: hidden;
}
/*navigation bar */
.topmenu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  font-family: ZonaPro;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 15px;
}
/*hover */
.topmenu a:hover {
  background-color: #dddddd;
  color: #31003F;
  font-weight:700;
}
/*home activado */
.topmenu a.home {
  background-color: #de8518;
  color: white;
}
.logo_ulacit {
  float: right;
  margin: 0.1% 2%;
  width: 9%;
}

.borde {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #de8518;
}
/*imagen ulacit*/
.front { 
	background-image: url(../img/cielo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: ZonaProBOLD;
  text-align: center;
  width: 100%;
}
.front img{
  position: relative;
	width: 100%;
  margin-bottom: -1%;
}
.front h1 { 
  width: 100%;
	position: fixed;
  font-size: 6vw;
  line-height: .8;
  color: #502F5D;
}
.front h1 span{
  font-family: ZonaPro;
  display: block;
  font-size: 3vw;
}
body {
  margin: auto;
}
/*texto*/ 
main {
  padding: 2% 2%;
  text-align: center;
  position: relative; 
  background: #fff;
}
.reserva_button {
  position: relative;
  margin: auto;
  color: white;
  padding: 1.5% 6%;
  background-color: #008A85;
  border-radius: 8px;
  text-decoration: none;
  font-family: ZonaPro;
  font-size: 1.5vw;
  font-weight: bold;
  transition-duration: 0.4s;
}

.reserva_button:hover {
  background-color: #09bdb7;
}

.row {
  display: flex;
}

.contenedor_caja {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.contenedor_imagen{
  margin: auto;
  margin-top: 5%;
  width: 35%;
  position: relative;
  overflow: hidden;
  border: 10px solid #502F5D;
  border-radius: 8px;
  box-shadow: -1px 1px 5px #502F5D;
}

/*Area of images*/
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.slideshow {
  width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  20%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(-100%);
  }
  45%{
    transform: translateX(-100%);
  }
  50%{
      transform: translateX(-200%);
  }
  70%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

.informacion{
  width: 50%;
  margin: 3% 1% 1% 5%;
}
.informacion h1{
  font-family: ZonaPro;
  font-size: 40px;
  font-weight: 800;
  width: 100%;
  color: white;
  background-color: #502F5D;
  border: 8px solid #8B127D;
}

.informacion_contenido {
  display: flex;
  width: 100%;
}

.informacion_contenido_texto {
  margin-left: 1%;
  width: 80%;
}

.informacion_contenido_texto * {
  margin: 2% 0%;
}

.informacion_contenido_texto h3{
  font-family: ZonaPro;
  text-align: left;
  font-size: 25px;
}
.informacion_contenido_texto p{
  font-family: ZonaPro;
  font-weight: 700;
  text-align: left;
  color: rgb(77, 77, 77);
  font-size: 20px;
}

.informacion_contenido_icono_parqueo{
  width: 20%;
  position: relative;
}
.informacion_contenido_icono_parqueo img{
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: 0%;
  opacity: 0.8;
}

.newsletter {
  text-align: left;
  margin-top: 2%;
  padding-bottom: 8%;
  background-color: #8B127D;
  border: 5px solid #c9afc6;
  width: 100%;
}

.newsletter h3{
  color: white;
  font-family: ZonaPro;
  text-align: left;
  margin: 1% 2%;
}

input[type=text] {
  float: left;
  width: 20%;
  padding: 1%;
  margin: 1% 2%;
}

.newsletter form label {
  font-family: ZonaPro;
  font-size: 60%;
  color: white;
}
.newsletter form label a{
  color: white;
}

.submit {
  text-align: left;
}

input[type=submit] {
  float: left;
  width: 10%;
  padding: 15px;
  background-color: #18e7f2;
  color: white;
  border: none;
}
