/*fonts*/
@font-face {
    font-family: ZonaProBOLD;
    src: url(../fonts/ZonaPro-Bold.otf);
  }
  
  @font-face {
    font-family: ZonaPro;
    src: url(../fonts/ZonaPro-ExtraLight.otf);
  }
  
  @font-face {
    font-family: socialMedia;
    src: url(../fonts/SocialMediaIcons.ttf);
  }
  
  .topmenu {
    background-color: #31003F;
    overflow: hidden;
  }
  
  .topmenu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: ZonaPro;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.7s;
  }
  
  /*hover */
  .topmenu a:hover {
    background-color: #dddddd;
    color: #31003F;
    font-weight: 700;
  }
  
  /*home activado */
  .topmenu a.home {
    background-color: #de8518;
    color: white;
  }
  
  .logo_ulacit {
    float: right;
    margin: 0.1% 2%;
    width: 9%;
  }
  
  .borde {
    width: 100%;
    height: 2px;
    background-color: #de8518;
  }
  
  body {
    margin: auto;
    background-image: url(../img/Ulacit_Campus.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
  }
  
  .reservacion_img {
    text-align: center;
    position: relative;
    float: right;
    background-image: url(../img/Reservacion.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 40vw;
    height: 60vh;
    opacity: 0.97;
  }
  
  
  .reservacion_form {
    float: left;
    width: 50%;
    height: 100%;
  }
  
  .reservacion_form_top {
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: #4E28AA;
    opacity: 0.97;
    border-radius: 10px 10px 0px 0px;
  }
  
  .reservacion_form_top h1 {
    color: white;
    font-family: ZonaPro;
    font-size: 1.7vw;
    text-align: center;
    line-height: 7vh;
  }
  
  .reservacion_form form {
    text-align: center;
    width: 90%;
    margin: 7% 1%;
    background-color: #DE8518;
    opacity: 0.97;
    border-radius: 10px;
  }
  
  .reservacion_form .form-group {
    text-align: center;
    position: relative;
    display: flex;
    margin: 0% 5%;
    margin-bottom: 3%;
    height: 70px;
  }
  
  .reservacion_form .form-inputs {
    width: 100%;
    margin: 1%;
  }
  
  
  .reservacion_form .form-espacio {
    text-align: center;
    margin: 1%;
    width: 100%;
  }
  
  .reservacion_form .form-label {
    position: relative;
    font-family: zonaproBOLD;
    margin-bottom: 5px;
    color: #fff;
    font-size: 1vw;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
  }
  
  .reservacion_form .form-control {
    margin: 1%;
    position: relative;
    font-family: zonapro;
    font-size: 1vw;
    margin-right: 10px;
    background-color: #f5f5f5;
    border: none;
    height: 80%;
    width: 80%;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
    color: #101113;
  }
  
  
  .reservacion_form .submit-btn {
    font-family: zonaProBOLD;
    margin-bottom: 15px;
    color: #101113e2;
    background-color: #3060c2;
    font-weight: 700;
    height: 50px;
    border: none;
    width: 50%;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .reservacion_form .submit-btn:hover {
    background-color: #eda64e;
    color: #fff;
  }
  
  .footer {
    position: relative;
    display: inline-flex;
    background-color: #31003F;
    border-top: #de8518;
    border-style: solid;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: ZonaPro;
  }
  
  .footer div {
    width: 10%;
    margin: 5px;
    padding: 10px;
  }
  
  .footer div h3 {
    text-align: center;
    color: #dddddd;
    font-weight: 900;
  }
  
  .footer ul {
    list-style: none;
    margin-left: -45px;
    color: #dddddd;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li p {
    display: inline-flex;
    margin: 2px;
  }
  
  .footer ul li a {
    color: #dddddd;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    font-weight: bolder;
  }
  
  .icons {
    font-family: socialMedia;
  }
  